@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  .btn {
    @apply p-2 uppercase rounded-primary;
  }

  .btn-color {
    @apply bg-amber-600 text-stone-50;
  }

  .btn-color-reversed {
    @apply text-amber-600 bg-stone-50;
  }

  .disable-color {
    @apply bg-stone-700;
  }

  .credits {
    @apply text-stone-700 bg-amber-400;
  }

  .window {
    @apply fixed z-[1000] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-stone-900 flex flex-col rounded-primary;
  }

  .window-divide {
    @apply divide-y divide-stone-500;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .item-hover-color {
    @apply hover:bg-stone-800;
  }

  .h-overflow {
    @apply max-h-[60vh] overflow-y-auto overflow-x-hidden;
  }

  .white-border {
    @apply border border-solid border-stone-50;
  }

  .grey-border {
    @apply border border-solid border-stone-500;
  }

  .icon-size-primary {
    @apply w-8 h-8;
  }

  .transition-primary {
    @apply transition duration-300 ease-out;
  }

  .rounded-primary {
    @apply rounded-md;
  }

  .input {
    @apply px-3 bg-transparent border outline-none border-stone-700 rounded-primary hover:white-border focus:border-amber-600 transition-primary;
  }

  .floating-label {
    @apply text-sm text-stone-600 absolute -z-10 top-[50%] -translate-y-1/2 left-3 transition duration-200 ease-out peer-hover:text-stone-50 peer-focus:text-amber-600 peer-focus:scale-[80%] origin-top-left bg-stone-900 px-1 peer-focus:z-10;
  }

  .open-nav {
    animation: open-nav-animation .5s;
  }

  .close-nav {
    animation: close-nav-animation .5s;
  }

  @keyframes open-nav-animation {
    0% {
      transform: translateX(-100%);
      display: hidden;
    }
    100% {
      transform: translateX(0);
      display: flex;
    }
  }

  @keyframes close-nav-animation {
    0% {
      transform: translateX(0);
      display: flex;
    }
    100% {
      transform: translateX(-100%);
      display: hidden;
    }
  }
}


@font-face {
  font-family: "Speedy";
  src: url("/assets/Speedy.ttf");
}